@charset "utf-8";

// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

//Variabel for sidens magenta farve
$red: #e84545;
$white: #ffffff;
$sort: #000000;
$green: #008000;

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: white;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

h4 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

// Header og forside - Adem
//Header og forside - Adem
.logo{
  padding: 40px;
  padding-left: 20px;
  border-bottom: 1px solid;
  border-bottom-color: #66697e;
}

.header{
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 667px;
  width: 100%;
}

.menu{
  display: none;
}

h1{
  color: $white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.0;
  text-align: center;
}

h2{
  color: $white;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
  font-weight: lighter;
  line-height: 1.5;
  text-align: center;
}

.fritekst{
  padding: 60px;
}

.findoutmore{
  width: 50%;
  height: 45px;
  background-color: $red;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: small;
  margin: auto;
  padding: 14px;
}

.dropdownmenu{
  position: absolute;
  top: 35px;
  right: 0;
}

.dropbtn{
  background-color: $red;
  color: $white;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: $sort;
  min-width: 150px;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: $white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-family: 'raleway', sans-serif;
}

.dropdown-content a:hover{
  background-color: $green;
}

.dropdown:hover .dropdown-content{
  display: block;
}


//Features - Celina
.fa-pencil{
  color:$red;
}

.fa-desktop{
  color:$red;
}

.fa-lightbulb-o{
  color:$red;
}

.fa-file-code-o{
  color:$red;
}

.fa-suitcase{
  color:$red;
}

.fa-cloud-download{
  color:$red;
}

.features {
  text-align: center;
}


// Works - Sabine
.works-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  border: solid thin white;
}

.works_img{
  display: block;
  height: 100%;
  transition: transform .2s; /* Animation */
}

.works_img:hover{
  transform: scale(1.2);
}

.works_img img{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
  background-color: $red;
}

.works-container:hover .overlay{
  opacity: 0.9;
}

.works_txt{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
}


//Our team- Cecilie
.flex-container{
  flex-wrap: wrap;
}

.describtion{
  font-size: 14px;
  Color: grey;
  line-height: 23px;
}

.Team1 {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.Team2 {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.Team3 {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.Team4 {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.Name {
  font-size: 22px;
  line-height: 25px;
  font-family: 'Helvetica', sans-serif;
}


.Job {
  Color: $red;
  font-size: 14px;
  line-height: 20px;
}

.fa-facebook{
  color: lightgray;
  border: solid 1px;
  font-size: 18px;
  padding: 8px;
}

.fa-twitter{
  color: lightgray;
  border: solid 1px;
  font-size: 18px;
  padding: 8px;
}

.fa-linkedin{
  color: lightgray;
  border: solid 1px;
  font-size: 18px;
  padding: 8px;
}

.fa-google-plus{
  color: lightgray;
  border: solid 1px;
  font-size: 18px;
  padding: 8px;
}

.fa-dribbble{
  color: lightgray;
  border: solid 1px;
  font-size: 18px;
  padding: 8px;
}


// Testimonials - Joachim
.txt_box {
  height: 200px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.quote_box {
  width: 100%;
  height: 250px;
  background-color: #53354a;
  padding: 10px;
}

.quote {
  color: white;
  font-size: 26px;
  font-style: italic;
  text-align: center;
}

.author {
  color: white;
  text-align: center;
}

// Download - Joachim
.dl {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: auto;
  text-align: center;
}

.dl_over {
  font-weight: normal;
  font-size: 24px;
  margin: 0 10px 0 10px;
}

.dl_under {
  margin: 0 20px 0 20px;
  font-weight: bold;
  font-size: 14px;
}

.dl_btn {
  font-family: "Open Sans", sans-serif;
  background-color: #e84545;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  font-weight: bold;
}

.dl_btn:hover{
  background-color: red;
}

//Under box - Celina
.underbox {
  background-color: #3a3e64;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  font-size: 14pt;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
}

h5 {
  font-weight: normal;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #afb0bc;
}

.icons {
  display: flex;justify-content: center;
  line-height: 35px;
}

.icons a {
  color: white;
  text-decoration: none;
}

.icons a:hover {
  color: $red
}

.icon {
  border: solid 1px white;
  width: 35px;
  height: 35px;
}


//Footer - Celina
.fa-heart {
  color:$red;
}

.footer {
  color: #808080;
  background-color: #313454;
  bottom:0;
  text-align: center;
  height: 98px;
  position: relative;
  padding: 25px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: $red
}

// Alt der ændres i tablet stående fra mobil
@media screen and (min-width: 768px) {
  //Works - Sabine
  .works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .works-container {
    width: 50%;
    overflow: hidden;
  }
  .works_img {
    height: 50vh;
    width: 150%;
  }
  .works_txt{
    left: 37%;
  }

  // Testimonials - Joachim
  .txt_box {
    margin: 20px;
    height: 150px;
  }

  .quote_box {
    width: 100%;
    height: 250px;
    background-color: #53354a;
  }
}

// Alt der ændres i tablet liggende fra mobil og tablet stående
  @media screen and (min-width: 992px) {
    //Works - Sabine
    .works-container {
      width: 25%;
    }
    .works_img{
      width: 200%;
    }
    .works_txt{
      left: 30%;
    }

    //Celina
    .flex-container{
      display: flex;
      flex-direction: column;
      height: 250px ;
      max-width: none;
      padding-top: 40px;
    }

    .underbox {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      text-align: center;
    }

    .flex-features{
      display: flex;
      flex-direction: column;
      height: 250px ;
      max-width: none;
      padding-top: 39px;
      margin-right: auto;
      margin-left: auto;
    }

    .features {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      text-align: center;
    }

    //Our team- Cecilie
    .flex-team{
      display: inline-flex;
      height: 600px;
      max-width: 22%;
      margin-left: 35px;

    }

    .team{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    //Testimonials - Joachim
    .mySlides {
      display: flex;
      width: 100%;
      height: 250px;
    }

    .txt_box {
      margin: 2.5px;
      height: 200px;
    }

    .quote_box {
      width: 50%;
      height: auto;
    }

    .testimonial_img {
      width: 50%;
      height: auto;
    }

  }

// Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  @media screen and (min-width: 1200px) {
    //Ardem
    .dropbtn{
      display: none;
    }

    .header{
      height: 750px;
    }

    h1{
      color: $white;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.0;
      text-align: center;
      font-size: 70px;
      max-width: 60%;
    }

    h2{
      color: $white;
      font-family: 'Raleway', sans-serif;
      font-size: x-large;
      font-weight: lighter;
      line-height: 1.5;
      text-align: center;
      max-width: 55%;
    }

    .logo{
      padding-left: 19%;
      position: relative;
    }

    .menu{
      display: inline-block;
      position: absolute;
      left: 51%;
      font-size: 80%;
      top: 30px;
      color: #66697e;
      right: 17%;
    }

    a{
      color: lightgray;
      text-decoration: none;
      font-family: 'raleway', sans-serif;
    }

    a:hover{
      color: $white;
    }

    li{
      display: inline;
      list-style-type: none;
    }

    ul li{
      display: inline-block;
      padding: 0px 15px;
    }

    .menu ul li{
      display: inline-block;
      justify-content: space-between;
    }

    .fritekst{
      padding: 170px;
    }

    .findoutmore{
      width: 11%;
    }

    //Works - Sabine
    .works_img{
      width: 150%;
    }
    .works_txt{
      left: 37%;
    }

    //Testimonials - Joachim
    .mySlides {
      width: 100%;
      height: auto;
    }

    .quote_box {
      width: 50%;
      height: auto;
    }

    .testimonial_img {
      width: 50%;
      height: 50%;
    }
  }

  @media print {
    // Alt der gælder for print specifikt
  }
