* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: white; }

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

p {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto; }

.fa-pencil {
  color: #e84545; }

.fa-desktop {
  color: #e84545; }

.fa-lightbulb-o {
  color: #e84545; }

.fa-file-code-o {
  color: #e84545; }

.fa-suitcase {
  color: #e84545; }

.fa-cloud-download {
  color: #e84545; }

.works-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: solid thin white; }

.works_img {
  display: block;
  height: 100%;
  transition: transform .2s;
  /* Animation */ }

.works_img:hover {
  transform: scale(1.2); }

.works_img img {
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
  background-color: #e84545; }

.works-container:hover .overlay {
  opacity: 0.9; }

.works_txt {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.txt_box {
  height: 200px; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: white; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
.quote_box {
  width: 100%;
  height: 250px;
  background-color: #53354a;
  padding: 10px; }

.quote {
  color: white;
  font-size: 26px;
  font-style: italic;
  text-align: center; }

.author {
  color: white;
  text-align: center; }

.dl {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: auto;
  text-align: center; }

.dl_over {
  font-weight: normal;
  font-size: 24px;
  margin: 0 10px 0 10px; }

.dl_under {
  margin: 0 20px 0 20px;
  font-weight: bold;
  font-size: 14px; }

.dl_btn {
  font-family: "Open Sans", sans-serif;
  background-color: #e84545;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  font-weight: bold; }

.dl_btn:hover {
  background-color: red; }

@media screen and (min-width: 768px) {
  .works {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }

  .works-container {
    width: 50%;
    overflow: hidden; }

  .works_img {
    height: 50vh;
    width: 150%; }

  .works_txt {
    left: 37%; }

  .txt_box {
    margin: 20px;
    height: 150px; }

  .quote_box {
    width: 100%;
    height: 250px;
    background-color: #53354a; } }
@media screen and (min-width: 992px) {
  .works-container {
    width: 25%; }

  .works_img {
    width: 200%; }

  .works_txt {
    left: 30%; }

  .mySlides {
    display: flex;
    width: 100%;
    height: 250px; }

  .txt_box {
    margin: 2.5px;
    height: 200px; }

  .quote_box {
    width: 50%;
    height: auto; }

  .testimonial_img {
    width: 50%;
    height: auto; } }
@media screen and (min-width: 1200px) {
  .works_img {
    width: 150%; }

  .works_txt {
    left: 37%; }

  .mySlides {
    width: 100%;
    height: auto; }

  .quote_box {
    width: 50%;
    height: auto; }

  .testimonial_img {
    width: 50%;
    height: 50%; } }

/*# sourceMappingURL=styles.css.map */
