@charset "utf-8";

// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$red: #e84545;

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: white;
}

//Header og forside - Adem

//Features - Celina
.fa-pencil {
  color:$red;
}

.fa-desktop {
  color:$red;
}

.fa-lightbulb-o {
  color:$red;
}

.fa-file-code-o {
  color:$red;
}

.fa-suitcase {
  color:$red;
}

.fa-cloud-download {
  color:$red;
}

//Works - Sabine
.works-container{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.works_img{
  display: block;
  height: 100%;
  border: solid;
  border-width: thin;
  border-color: white;
}

.works_img img{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
  background-color: $red;
}

.works-container:hover .overlay{
  opacity: 0.9;
}

.works_txt{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%, -50%);
}

//Our team- Cecilie

//Testimonials - Joachim
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.slide_box {
  width: 100%;
  height: 450px;
  background-color: #53354a;
}

.quote_box {
  height: 205px;
}

.quote {
  color: white;
  font-size: 26px;
  font-style: italic;
  text-align: center;
}

.author {
  color: white;
  text-align: center;
}
//Downloads - Joachim

//Under box - Celina

//Footer - Celina

h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

// Alt der ændres i tablet stående fra mobil
@media screen and (min-width: 768px) {
  //Works - Sabine
  .works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .works-container {
    width: 50%;
  }

  //Testimonials - Joachim
  .slide_box {
    width: 100%;
    height: 450px;
    background-color: #53354a;

  }
}

// Alt der ændres i tablet liggende fra mobil og tablet stående
  @media screen and (min-width: 992px) {
    //Works - Sabine
    .works-container {
      width: 25%;
    }

    //Testimonials - Joachim
    .quote_box {
    }
  }

// Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  @media screen and (min-width: 1200px) {
  }

  @media print {
    // Alt der gælder for print specifikt
  }
