@charset "utf-8";

// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$red: #e84545;

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: white;
}

//Header og forside - Adem

//Features - Celina

//Works - Sabine
.works-container{
  position: relative;
  width: 100%;
}
.works_img{
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $red;
}

.works-container:hover .overlay{
  opacity: 0.7;
}

.works_txt{
  color: white;
}

//Our team- Cecilie

//estimonials - Joachim

//Downloads - Joachim

//Under box - Celina

//Footer - Celina



h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}